{% extends 'users/layout.njk' %}

{% block head %}
    <title>Foodfy - Sobre</title>
{% endblock %}

{% block content %}

    <div id="about-content">
        <h2>Sobre o Foodfy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Phasellus non nisl sed neque congue facilisis. Cras ac vehicula nulla.
            Pellentesque sit amet pellentesque magna, tincidunt varius nibh. 
            Morbi pulvinar, quam ac ornare rhoncus, dui tellus tempor urna, in 
            tincidunt ante velit id leo. In hac habitasse platea dictumst. 
            Quisque sed lectus metus. Vivamus et tempus dui. Nam auctor lobortis 
            arcu et pulvinar. Aliquam dolor purus, rhoncus nec ultrices porttitor, 
            pretium id ipsum. Vestibulum ante ipsum primis in faucibus orci luctus 
            et ultrices posuere cubilia Curae; Pellentesque quis ligula efficitur,
            sagittis ligula non, rhoncus enim. Morbi consequat faucibus 
            turpis, vitae luctus arcu. Quisque quis velit orci.</p>
        <h3>Como tudo começou...</h3>
        <p> Duis tempor massa at eleifend dapibus. Maecenas gravida interdum volutpat.
            Pellentesque sagittis euismod lacus, suscipit mollis quam maximus eget.
            Integer ultrices tellus mattis urna vehicula accumsan id ut dolor.
            Sed ullamcorper metus aliquet velit faucibus imperdiet. Nulla facilisi.
            Nulla a justo suscipit, efficitur massa sed, rutrum mi. Mauris dolor nunc,
            efficitur quis tempus in, faucibus eget erat. Curabitur at finibus ante,
            vel blandit sem.</p>
        <p> Morbi suscipit lectus ut felis placerat finibus. Donec id bibendum diam.
            Suspendisse aliquet cursus nisl ut dictum. Vestibulum faucibus
            nisi nisi, a interdum odio egestas quis. Donec ultricies odio sit
            amet volutpat facilisis. Mauris purus lectus, aliquet non nisl et,
            lobortis laoreet est. Sed id tellus et tellus maximus rhoncus.
            Pellentesque sem tortor, condimentum vitae fringilla nec,
            vestibulum at libero. Cras quis semper neque. Mauris mattis maurisvel
            sapien tristique, sit amet gravida tortor gravida.</p>
        <h3>Nossas receitas</h3>
        <p> Morbi suscipit lectus ut felis placerat finibus. Donec id bibendum diam.
            Suspendisse aliquet cursus nisl ut dictum. Vestibulum faucibus
            nisi nisi, a interdum odio egestas quis. Donec ultricies odio sit
            amet volutpat facilisis. Mauris purus lectus, aliquet non nisl et,
            lobortis laoreet est. Sed id tellus et tellus maximus rhoncus.
            Pellentesque sem tortor, condimentum vitae fringilla nec,
            vestibulum at libero. Cras quis semper neque. Mauris mattis maurisvel
            sapien tristique, sit amet gravida tortor gravida.</p>
    </div>

{% endblock %}